@import "@/style/variables.scss";
@import "@/style/mixins.scss";


.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 0.75rem;
}

.el {
  position: relative;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  transition: $base-transition-duration;


  &_active {
    color: $primary-color;
  }
}

.activeBackground {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $image-border-radius;
  background-color: hsla(209, 21, 25, .06);
}

.badge {
  position: absolute;
  top: -0.7rem;
  right: -.7rem;
  border-radius: 50%;
}