@import "@/style/variables.scss";
@import "@/style/mixins.scss";


.container {
  display: grid;
  gap: 2.25rem;
  padding-top: 6.25rem;
}

.section {
  display: grid;
  gap: 2rem;
}

.title {

}

.planner {

}

.spec {

}
