@import "@/style/variables.scss";
@import "@/style/mixins.scss";


.container {
  display: grid;
  gap: 1.25rem;
}

.title {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.table {
  display: grid;
  gap: 1.25rem;
}

.caption {
  text-align: center;
  color: $app-text-secondary-color;
  font-size: 0.875rem;
}

.remove {
  color: $red-color
}


